*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: black;
  font-size: 12px;
}

header{
  height: 25px;
  padding-top: 5px;
  justify-content: flex-end;
  align-items: flex-start;
}

main{
  height: calc(100vh - 135px);
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: center;
  margin: 30px 0;
}

footer{
  height: 50px;
  text-align: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #222222;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}